@model ProductsIndexViewModel
@{
    Model.PageTitle = "Products";
    Model.ActiveSubnav = "index";
}
<table>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>
                    @Html.ActionLink(product.Name, "View", new { id = product.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
