@model ProductsViewViewModel
@Html.ActionLink("Back to list", "Index")
<h1>
    @Model.Name</h1>
@{Html.RenderAction("ViewCategories", new { id = Model.Id });}
<script>
    $(function () {
        $(".async-form").live("submit", function () {
            $.ajax({
                type: 'POST',
                url: this.action,
                data: $(this).serialize(),
                dataType: 'html',
                error: function () { alert("Error occurred while processing the request.\nPlease reload the page and try again."); },
                context: this,
                success: function (result) {
                    $(this).replaceWith(result);
                }
            });
            return false;
        });
    });
</script>
