@model CategoriesIndexViewModel
@{
    Model.Title = "Categories";
    Model.ActiveSubnav = "categories";
}
<div>
    <a href="@Url.Action("Add")">Add new category</a>
</div>
A grid sortable (movable up and down)