@model PaymentConfigureViewModel
@{
    Model.PageTitle = "Payment Methods";
    Model.ActiveSubnav = "payment";
}
<h2>
    Activate @Model.ModuleInfo.Name</h2>
<form method="post">
@Html.ValidationSummary()
<input type="submit" value="Activate" />
or Cancel
</form>
