@model SharedLayoutViewModel
@{
    Model.ActiveTab = "orders";
    Layout = "../Shared/_Layout.cshtml";
}
@section head{
    @RenderSection("head", false)
}
@section subnav{
    <form@(Model.ActiveSubnav == "index" ? " class=active" : string.Empty) action="@Url.Action("Index", "Orders")">
    <span class="text">Search orders for</span>
    @Html.TextBox("q")
    <input type="submit" value="Search" />
    </form>
}
@RenderBody()
