@model OrderIndexViewModel
@{
    Model.PageTitle = "Orders";
    Model.ActiveSubnav = "index";
}
<h2>
    Index</h2>
@foreach (var order in Model.Orders)
{
    <div>
        @Html.ActionLink(order.Id.ToString(), "View", new { id = order.Id })
    </div>
}