@model ProductCategoriesViewModel
@{
    Model.Title = "Categories";
    Model.ActiveSubnav = "categories";
}
<div>
    <a href="#">Add new category</a>
</div>
A grid sortable (movable up and down)