@model ShippingIndexViewModel
@{
    Model.PageTitle = "Shipping Options";
    Model.ActiveSubnav = "shipping";
}
<form action="@Url.Action("AddRate")">
Add shipping option for @Html.DropDownList("country", Model.AddOptionListItems)
<input type="submit" />
</form>
@*@foreach (var country in Model.Countries)
{
    <h1>@country.Name</h1>
    <div>
        @if (country.ShippingRates.Count == 0)
        {
            <span>You have no shipping rates defined for this location</span>
        }
        <div>
            <a href="@Url.Action("AddRate")">Add shipping rate</a>
        </div>
    </div>
}*@
