@model ShippingIndexViewModel
@{
    Model.PageTitle = "Shipping Options";
    Model.ActiveSubnav = "shipping";
}
<form action="@Url.Action("AddRate")">
Add shipping option for @Html.DropDownList("country", Model.AddOptionListItems)
<input type="submit" />
</form>
<h2>
    Shipping Destinations</h2>
@foreach (var country in Model.ShippingCountries)
{
    <h1>@country.Name</h1>
    <div>
        <div>
            <a href="@Url.Action("AddRate")">Add shipping rate</a>
        </div>
    </div>
}